# IDE and Build
target/
build/
out/
generated/
classes/
node_modules
.idea
*.iml
.gradle
.env
back/gradle/wrapper/*

# Logs
back/web/src/main/resources/logback-custom.xml
*.log

# Others
*.sql
back/_scripts/*.jar
back/todo.txt
back/web/src/main/resources/app.properties
back/web/resource/report/*
back/resource/report/*
back/services/services-impl/resource/report/*
